<div class="row devise">
	<div class="col-md-4 col-md-offset-4">
		<div class="bar-header">
			<h2>Sign in</h2>
		</div>
		<div class="form-container">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  <div><%= f.email_field :email, :autofocus => true, :placeholder => "EMAIL ADDRESS" %></div>

			  <div><%= f.password_field :password, :autocomplete => "off", :placeholder => "PASSWORD" %></div>

			  <% if devise_mapping.rememberable? -%>
			    <div class="checkbox">
			    	<%= f.check_box :remember_me %> <%= f.label :remember_me %>
			    </div>
			  <% end -%>

			  <div class="submit"><%= f.submit "Sign in", :class=>'colored-btn' %></div>
			<% end %>
			<p class="p-link"><%= link_to "Forgot password?", '/users/password/new' %></p>
		</div>
	</div>
</div>
